:root {
    --text-color: #fff;
    --border-color: #555555;
    --background-color: #1b1b1b;
    --box-color: #1b1b1b;
    --input-box-color: #292929;
    --input-box-highlighted: #444444;
}

:root {
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: 'Segoe UI', Roboto, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    box-sizing: border-box;
    min-height: 100vh;
    background-image: url('/img.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main-container {
    width: 75%;
    min-width: 300px;
    max-width: 700px;
    padding: 30px;
    background-color: var(--background-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 30px 20px 20px 20px;
    box-sizing: border-box;
    flex-direction: column;
}
